.child_3 a {
	font-weight: normal; 
	color: #7cbdef !important;
	padding-left: 23px !important;
}

.menu__item .menu__link.js-menu-operativnyi-shtab-rec {
	color: #ed1c24;
}

@media screen and (max-width: 1100px) and (min-width: 1024px) {
	.menu .menu__item {
		margin-left: 15px;
	}
}
.menu__link[class*=js-menu-interviewsdetail] {
	color: #ed1c24 !important;
}
